<ion-side-menus>

  <!-- Center content -->
	<ion-side-menu-content>
		<ion-header-bar class="bar-positive">
			<button class="button button-icon" ng-click="toggleMenu()">
				<i class="icon ion-navicon"></i>
			</button>
			<h1 class="title">{{vistaSelect}}</h1>
			<!-- New Task button-->
			<button class="button button-icon" ng-click="logoutUser()">
				<i class="icon ion-android-exit"></i>
			</button>
		</ion-header-bar>
		<ion-content scroll="true">
			<div ng-view=""></div>
		</ion-content>
	</ion-side-menu-content>

	<!-- Left menu -->
	<ion-side-menu side="left">
		<ion-header-bar class="bar-positive">
			<h1 class="title">{{nombreUsuario}}</h1>
		</ion-header-bar>
		<ion-content scroll="true">
			<ion-list>
				<ion-item ng-repeat="view in views" ng-click="selectView(view)" ng-class="{active: activeView == view}">
					{{view.url}}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>